.steps {
  pre {
    display: block;
    overflow: auto;
    height: 200px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 14px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .button-container {
    margin: 40px 0;    
    @media screen and (max-width: $mobile-width) {
      margin: 30px 0;  
      margin-bottom: 60px;  
    }
  }

  .value {
    margin-bottom: 10px;
  }

  .left,
  .right,
  .item {
    margin-bottom: 25px;
  }

  .publish-title {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-right: 5px;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    background-color: #fff;

    &-container {
      position: relative;
      margin-bottom: 25px;
      line-height: 20px;

      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        right: 0;
        left: 0;
        top: 50%;
        height: 1px;
        margin-top: -1px;
        border-bottom: 1px dashed #eee;
      }
    }

    &:before {
      content: attr(data-step);
      position: absolute;
      z-index: 2;
      left: 0;
      top: 50%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-top: -10px;
      background-color: #08b3f2;
      color: #fff;
      line-height: 20px;
      text-align: center;
    }
  }

  .button {
    padding-left: 30px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAMAAACgaw2xAAAAMFBMVEX///////////////////////////////////////////////////////////////9Or7hAAAAAD3RSTlMAPT5BSUpRUt3f5ufp6vUxUI2NAAAASUlEQVR42rWROw7AMAxC3abN3+b+t80WZYAxb/STsAR2kr0+xnAgEhMVwryhTLpjvg5CFOugTCXc/sGj1PM7d12irl0Plb3taRdkbQmzeFkz0wAAAABJRU5ErkJggg==);
    background-size: 12px 10px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    cursor: pointer;

    &.no_image {
      padding-left: 15px;
      background-image: none;
      background-position: 0 0;
      background-size: auto;
    }
  }
}
