.steps-content {
  padding: 30px 30px 0;
  border-radius: 8px;
  border: 1px solid #eee;
  background-color: #fff;
  @media screen and (max-width: $mobile-width) {
    padding: 20px 20px 0;
  }

  .about-step {
    position: relative;
    min-height: 100px;
    padding-left: 120px;
    padding-bottom: 30px;

    .steps:not(.steps_publish) & {
      margin-bottom: 30px;
      border-bottom: 1px solid #eee;
    }

    .step-icons {
      position: absolute;
      left: 0;
      top: 0;
    }

    .title {
      display: block;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
    }

    .description {
      line-height: 24px;
      font-size: 13px;
    }
  }

  .description {
    color: #8197a2;
    line-height: 20px;
    font-size: 12px;
  }
}
