html,
body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  box-sizing: border-box;
  padding: $header-height 0 $footer-height;
  background-color: #fbfbfc;
  @media screen and (max-width: $mobile-width) {
		min-width: auto;
  }
}

.container {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  @media screen and (max-width: $mobile-width) {
		width: 94%;
  }
}

.hidden {
  overflow: hidden;
}

.notdisplayed {
  display: none;
}

.left {
  width: 46%;
  float: left;
}

.right {
  width: 46%;
  float: right;
}

.item-remove {
  @include image-2x('../images/delete@2x.png', 12px, 12px);
  background-image: url(../images/delete.png);
  background-repeat: no-repeat;
  display: block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  float: right;
}

.copy {
  @include image-2x('../images/copy@2x.png', 12px, 12px);
  background-image: url(../images/copy.png);
  background-repeat: no-repeat;
  display: block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  float: right;
}

.copy-field-container {
  display: table-cell;
  padding-left: 10px;
  vertical-align: top;
  padding-top: 30.5px;
}

.copy-area-container {
  display: table-cell;
  padding-left: 10px;
}

.display-container {
  display: table-cell;
  width: 100%;
}
.input-block-container {
  display: table;
  width: 100%;
}
.section-title {
  display: block;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

@media (max-height: $iframe-height) {
  body {
    padding-top: 0;
  }
}
