.footer {
  @extend %full-width;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center center;
  color: #fff;

  @media screen and (max-width: $mobile-width) {
		overflow: hidden;
		height: 97px;
  }

  .container {
    position: relative;
  }

  .logo,
  .socials {
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
    top: 50%;
    @media screen and (max-width: $mobile-width) {
      top: 48%;
    }
  }

  .logo {
    @extend %logos;
    left: 0;
    width: 126px;
  	height: 24px;
    background-position: 0 0;
    @media screen and (max-width: $mobile-width) {
      left: 50%;
      margin-left: -68px;
      top: 12%;
    }
  }

  .rights {
    color: #fff;
    line-height: $footer-height;
    text-align: center;
    font-size: 12px;
    @media screen and (max-width: $mobile-width) {
      height: 100%;
      line-height: 165px;
    }
  }

  .socials {
    right: 0;

    @media screen and (max-width: $mobile-width) {
      position: absolute;
      width: 100%;
      height: 80px;
      text-align: center;
    }
  }
}
