.invest {
  margin: 30px auto;
  padding-left: 30px;
  border-radius: 8px;
  border: 1px solid #eee;
  background-color: #fff;

  &.container {
    min-width: 960px;
    max-width: 1000px;
    width: auto;
    @media screen and (max-width: $mobile-width) {
      min-width: auto;
      width: 94%;
      padding-left:10px;
      margin-bottom: 60px;
    }
  }
  .timer {
    position: absolute;
    z-index: 2;
    left: 25px;
    top: 25px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 230px;
    text-align: center;

    &-inner {
      line-height: normal;
      display: inline-block;
    }

    &-i {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
      font-size: 0;
      text-align: center;
    }

    &-count {
      display: block;
      margin-bottom: 5px;
      color: #642f9c;
      font-size: 24px;
      font-weight: bold;
    }

    &-interval {
      display: block;
      text-transform: uppercase;
      font-size: 10px;
      color: #8197a2;
    }

    &-container {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 30px;
      border-radius: 50%;
      background-color: #eee;
      @media screen and (max-width: $mobile-width) {
        left: 50%;
        margin-left: -125px;
      }
    }
  }

  .hashes {
    position: relative;
    min-height: 240px;
    padding-left: 260px;
    @media screen and (max-width: $mobile-width) {
      padding-left: 0px;
      padding-top: 310px;
    }
    &-i {
      margin-bottom: 30px;
    }

    &-title {
      margin-bottom: 10px;
      color: #642f9c;
      font-weight: bold;
      @media screen and (max-width: $mobile-width) {
        overflow-wrap: break-word;
      }
    }

    &-description {
      color: #8197a2;
      font-size: 12px;
    }
  }

  .balance {
    border-bottom: 1px solid #eee;
    padding: 30px;
    @media screen and (max-width: $mobile-width) {
      padding: 20px;
    }

    &-title {
      margin-bottom: 5px;
      color: #642f9c;
      font-size: 20px;
      font-weight: bold;
    }

    &-description {
      margin-bottom: 30px;
      color: #8197a2;
    }
  }

  .description {
    color: #8197a2;
    line-height: 20px;
    font-size: 12px;
  }

  &-through {
    @include image-2x('../images/select@2x.png', 8px, 5px);
    appearance: none;
    float: left;
    /*width: 147px;*/
    height: 36px;
    outline: none;
    padding: 0 28px 0 10px;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 3px;
    background-image: url(../images/select.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-color: #fff;
    color: #8197a2;
    font-size: 12px;

    &-container {
      overflow: hidden;
      margin-bottom: 30px;
    }
  }

  &-form {
    padding: 30px;

    @media screen and (max-width: $mobile-width) {
      padding: 20px;
    }

    ::placeholder {
      color: #8197a2;
    }

    &-label {
      color: #8197a2;
    }

    &-input {
      display: block;
      width: 100%;
      height: 44px;
      outline: none;
      padding-right: 30px;
      border: 0;
      border-bottom: 1px solid #eee;
      box-sizing: border-box;
      color: #8197a2;
      font-size: 14px;
      font-weight: bold;

      &-container {
        position: relative;
        margin: 15px 0 50px;

        .invest-form-label {
          transform: translateY(-50%);
          position: absolute;
          right: 0;
          top: 50%;
        }

        .error {
          color: red;
          font-weight: bold;
          font-size: 12px;
          width: 100%;
          height: 10px;
          position: absolute;
          margin-top: 5px;
        }
      }
    }

    .button {
      float: right;
    }
  }

  &-title {
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
  }

  &-description {
    margin-bottom: 30px;
    color: #8197a2;
    line-height: 18px;
    font-size: 12px;
  }

  &-table {
    display: table;
    @media screen and (max-width: $mobile-width) {
      display: block;
    }
    &-cell {
      display: table-cell;
      max-width: 293px;

      @media screen and (max-width: $mobile-width) {
        display: block;
        max-width: 100%;
      }

      &_left {
        position: relative;
        max-width: 670px;
        padding-right: 30px;
        border-right: 1px solid #eee;      
        @media screen and (max-width: $mobile-width) {
          position: relative;
          max-width: 100%;
          padding-right: 0px;
          padding: 20px 10px 0;
          border-right: 1px solid #eee;  
        }
      }
    }
  }

  @media (max-height: $iframe-height) {
    .qr-selected {
      .balance {
        &-description {
          margin-bottom: 0;
        }
      }
      .description {
        display: none;
      }
      .invest-form {
        padding-bottom: 0;
        &-label {
          display: none;
        }
        &-input-container {
          display: none;
        }
      }
      .payment-process {
        padding-top: 5px;
      }
    }
  }
}
